@charset "UTF-8";

@import url(reset.css);

html{
  height: 100%;
  scroll-behavior: smooth;
}

.img{
  max-width: 100%;
  height: auto;
}

.text{
  border: 2px solid #000000;
  font-size: 24px;
  padding: 0.3em;
  border-right: 0;
   border-left:0;
   
}

.text li{
  padding: 0.3em;;
}

nav a{
  display: block;
}
body{
  background-color: #6A8CC7;
}
.wrapper{
  background-color: azure;
  max-width: 960px;
  margin: 0  auto;
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 16px;
}

header{
  text-align: center;
  background-color: #D5E0F1;
}

header img{
  background-color: #D5E0F1;
  height: auto;
  padding-left: 100px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

nav ul{
  display: flex;
}

nav ul li:hover{
background-color: #6A8CC7;
}

nav ul li{
  flex: 1 1 auto;
  border: 1px solid #000000;
  text-align: center;
  background-color: #3261AB;
  color: #D5E0F1;
  padding: 0.3em;
}

.hazime{
  text-align: center;
}

.hazimeni-img img{
 width: 50%;
 border-radius: 20%;
 margin: 1em;
}

.hazimeni-img h2{
font-size: 20px;
padding: 0.3em;
}

.hazimeni{
  text-align: center;
}

.hazimeni h2{
  font-size: 24px;
  font-weight: bold;
  padding: 0.3em;
}

.hazimeni p{
 border: 2px solid #000000;
 font-size: 24px;
 padding: 0.3em;
 border-right: 0;
  border-left:0;
}

.hazimeni p a{
 color: #C7243A; 
}

.hazimeni p a:hover{
  background-color: #3261AB;
}


.hazi{
  border: 1px solid #3261AB;
  padding: 0.3em;
  border-right: 0;
  border-left:0;
}


.tables table {
  border: 1px #000000 solid;
  margin: 2em auto;
}

.tables th {
  vertical-align: middle;
}


td,tr{
  border: 1px solid #000000;
  padding: 0.3em;
}

.tra{
  background-color: #3DB680;
}

.tda{
background-color: #fff;;
}

.loadmap{
  text-align: center;
}

.loadmap-img img{
width: 70%;
}

.foot{
  text-align: center;
  margin: 1em auto;
}
.foot a{
font-size: 24px;
background-color:#EDAD0B;
padding: 0.3em 0.3em;
border-radius: 15%;
color: #3261AB;

}

.foot a:hover{
  background-color: #F3C759;
}

.hazimeni ul{
display: flex;
}

.hazimeni ul li{
 flex: 1 1 auto;
 /* border-radius: 70%; */
 background-color: #EDAD0B;
 border: 0.1px solid #000000;
 padding: 0.3em;
}

.hazimeni ul li:hover{
  background-color: #F3C759;
}

.box{
}

.box-image img{
width: 60%;
height: auto;
}

.box-code{
  width: 60%;
  /* overflow: hidden; */
}

.box-comment{
}

footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #6A8CC7;
  width: 100%;
}

